@model CheeseMVC.ViewModels.ViewMenuViewModel

    @{ 
        ViewBag.title = Model.Menu.Name;
    }

<br />
<br />

<ul>
@foreach(var cheesemenu in Model.Items)
{
    <li>@cheesemenu.Cheese.Name</li>

}

</ul>

<p><a asp-controller="Menu" asp-action="AddItem" asp-route-id ="@Model.Menu.ID">Add Item to Menu</a></p>